.weeb-input-container {
  margin-left: 5%;
  
  .label-container {
    padding-bottom: 16px;
    
    .label-text {
      font-size: 1.5rem;
    }
  }

  .weeb-input {
    width: 247px;
    height: 30px;
  }
}
