.weeb-trade-content {
  margin-top: 24px;
  height: 45%;
  margin-left: 24px;
  margin-right: 24px;
  min-width: 89%;
  background-color: #2E2B2B;
  color: white;

  .weeb-trade-title {
    height: 10%;
    display: flex;
    align-items: self-end;
    justify-content: center;


  .weeb-title {
    margin: 0;
  }
  }

  .weeb-take-money {
    margin-top: 24px;
    height: 192px;
    max-width: 87%;
    margin-left: 24px;
    margin-right: 16px;
  }

  .weeb-description {
    margin: 24px;
    font-size: 1.3rem;
  }

  .weeb-button-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-between;
    align-items: center;

    .weeb-button-sign {
      height: 53px;
      width: 197px;
      border-radius: 20px;
      background-color: #1BE5A8;
      margin-bottom: 24px;

      .weeb-button-browse{
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 768px){
  .weeb-trade-hero-container {
    max-width: 100%;
  }
  .weeb-trade-content {
    background-color: #2E2B2B;
    height: 700px;

    .weeb-trade-title {
    margin-left: 31%;
    font-size: 1.5rem;
    }

    .weeb-grid-desktop {
      display: flex;

      .weeb-content-desc-button {
        display: flex;
        flex-direction: column;

        .weeb-button-container {
          flex-direction: column;
          gap: 16px;
        }
      }
    }

    .weeb-description{
      font-size: 2rem;
    }
  }
}

@media screen and (min-width: 1280px){
  .weeb-trade-content {
    margin: 72px;

    .weeb-take-money {
      height: auto;
      max-width: 50%;
    }

    .weeb-grid-desktop {
      display: flex;
      justify-content: space-around;

      .weeb-content-desc-button {
        .weeb-button-container {
          flex-direction: row;
        }
      }
    }
    .weeb-description{
      font-size: 3rem;
    }
  }
}