.product-card {
  background-color: #2E2B2B;
  height: 297px;
  width: 197px;

  .product-card-img-container {
    display: flex;
    justify-content: center;
    height: 50%;

    .product-img {
      width: 66%;
      margin-top: 24px;
    }
  }

  .product-card-text {
    font-size: 1rem;
    padding: 0;
    padding-left: 8px;
    color: white;
    text-align: center;
  }

  .product-card-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;

    .product-card-view {
      color: white;
      font-size: 1.25rem;
    }
  }
}

@media screen and  (min-width: 768px) {
  .product-card {
  height: 497px;
  width: 297px;

  .product-card-text {
    padding: 24px;
    color: white;
    font-size: 1.3rem;
  }
  }

  .product-card-details {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;

    .product-card-view {
      color: white;
      font-size: 1.7rem;
    }
  }
}