.browse-figures-container {

  .browse-figures-search-containers {
    display: flex;
    justify-content: space-around;

    .browse-figures-search-button {
      border: none;
      background: none;
      margin-top: 8px;

      svg {
        height: 28px;
        width: 25px;
      }
    }

  }

  .browse-figures-search-input {
    input {
      border-radius: 20px;
    }
  }

  .browse-figures-text {
    margin-left: 16px;
  }

  .browse-figures-card-container {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-left: 8px;
  }

  .browse-figures-pagination-container {
    margin-top: 16px;
  }
}
