.browse-figures-container {
  .browse-figures-search-input {
    input {
      border-radius: 20px;
    }
  }

  .browse-figures-text {
    margin-left: 16px;
  }

  .browse-figures-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-left: 8px;
  }

  .browse-figures-pagination-container {
    margin-top: 16px;
  }
}
