.weeb-button-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: space-between;
  align-items: center;

  .weeb-button {
    height: 53px;
    width: 197px;
    border-radius: 20px;
    background-color: #1BE5A8;
    margin-bottom: 24px;
    font-size: 1.3rem;
  }

  .weeb-button-red {
    background-color:red; 
  }

  .weeb-button-x-small {
    width: 101px;
    font-size: 1.0rem;
    border-radius: 0;
    height: 46px;
  }

  .weeb-button-small {
    width: 161px;
  }
}